body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    background-image: url("./cool_stars.jpeg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
}

.MainLandingPageDiv {
  width: 100%;
  height: auto;
  text-align: center;
}

.MainLandingPageDiv img {
  width: 100%;
  height: auto;
}

.centered {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: lightblue;
  font-size: 4vw;
  position: absolute;
}

.apod {
  font-family: 'Lato', sans-serif;
  display: block;
  margin: 100px auto;
  width: 75%;
  max-height: auto;
  text-align: center;
  box-shadow: 1px 1px 2px 2px rgba(255,255,255,0.2);
  background-color: rgba(16, 16, 10, 0.68);
  border-radius: 6.18%;
  padding: 16.8px;
}

.apod > h1, h4 {
  text-align: center;
}

.apod > h4 {
  font-size: 1.6em;;
}

a > img {
  width: 75%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 25px auto;
}

.apod > a {
  text-decoration: none;
}

.apod > p {
  font-family: 'Laila', serif;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 600px) {
  .apod > img {
    width: 60%;
    height: auto;
  }
  .apod {
    width: 80%;
  }
}

@media only screen and (min-width: 900px) {
  .apod > img {
    width: 50%;
    height: auto;
  }
  .apod {
    width: 60%;
  }
}
